
@media screen and (max-width: 1199.98px){
    footer{
        .subcribe{
            .container{
                .row{
                    .subcribe_title{
                        text-align: center !important;
                    }
                }
            }
        }
    }
    header{
        .top{
            display: block !important;
            text-align: center;
            height: 89px;
            h1 {
                margin: auto auto;
            }
            .topItems{
                position: relative !important;
                right: 0 !important;
                top: 25% !important;
                ul{
                    justify-content: center;
                }
            }
        }
        .nav{
            .row{
                .nav_item{
                    .menu{
                        width: 400% !important;
                        left: -50%;
                    }
                }
            }
        }
    }
    .top_banner{
        .top_banner_content{
            display: none;
        }
    }
}

@media screen and (max-width: 1440px) {
    header{
        .nav{
            .row{
                .nav_item{
                    .menu{
                        width: 500% !important;
                        left: -50%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 991.98px) {
    header{
        .nav{
            .row{
                .nav_item{
                    .menu{
                        width: 200% !important;
                        left: -50%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767.98px) {
    header{
        .nav{
            .row{
                .nav_item{
                    .menu{
                        width: 200% !important;
                        left: -50%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 575.98px) {
    header{
        .top {
            h1 {
                margin: 0 10px !important;
                width: 100%;
            }
            .topItems{
                width: 100% !important;
                top: 500px;
                right: 0;
                transform: translateY(0);
            }
        }
        .nav{
            .row{
                .nav_item{
                    .menu{
                        width: 100% !important;
                    }
                }
            }
        }
    }
}
body{
    line-height: normal;;
    box-sizing: border-box;
    height: 100%;
    img{
        width: 100%;
    }
    .container-fluid{
        padding-right: 0;
        padding-left: 0;
    }
    header{
        padding-bottom: 24px;
        box-shadow: 0px 4px 10px rgba(166, 168, 173, 0.09);
        z-index: 100;
        width: 100%;
        background-color: #FFFFFF;
        .top{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            text-align: center;
            height: 89px;
            h1 {
                margin: auto auto;
            }
            .topItems{
                position: absolute;
                right: 154px;
                top: 50%;
                transform: translateY(-60%);
                img{
                    width: 20px;
                    height: 20px;
                }
                    .account{
                        position: relative;
                        .account_dropdown{
                            pointer-events: none;
                            box-shadow: 0px 8px 10px rgba(77, 78, 80, 0.09);
                            opacity: 0;
                            transition: 0.5s;
                            position: absolute;
                            transform: translateX(-45%);
                            width: 310px;
                            background-color: rgb(255, 255, 255);
                            text-align: left;
                            .title{
                                background: #F8F8F8;
                                text-align: left;
                                p{
                                    padding: 18px 20px;
                                    margin: 0;
                                    font-family: Avenir Next;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 22px;
                                    color: #101010;
                                    span{
                                        font-weight: bolder;
                                    }
                                }
                            }
                            .account_detail{
                                background: #FFFFFF;
                                border-bottom: 1px solid #EDEDED;
                                padding: 23px 20px;
                                a{
                                    margin-top: 18px;
                                    display: block;
                                    font-family: Avenir Next;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 22px;
                                    letter-spacing: 0.05em;
                                    color: #101010;
                                }
                                a:nth-child(1){
                                    margin: 0;
                                }
                                a:hover{
                                    text-decoration: none;
                                    color: rgb(138, 138, 138);
                                }
                            }
                            .log_out{
                                padding: 18px 20px;
                                a{
                                    font-family: Avenir Next;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 22px;
                                    letter-spacing: 0.05em;
                                    color: #5D5D5D;
                                }
                            }
                        }

                    }
                    .account:hover .account_dropdown{
                        pointer-events: auto;
                        opacity: 1;
                    }
            }
        }
        .nav{
            justify-content: center;
            .row{
                .nav_item{
                    position: relative;
                    text-align: center;
                    a{
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        color: #101010;
                        
                    }
                    a:hover{
                        text-decoration: none;
                        border-bottom: 2px solid black;
                    }
                    
                    .menu{
                        pointer-events: none;
                        opacity: 0;
                        transition: 0.5s;
                        width: 800%;
                        text-align: left;
                        padding: 22px 50px;
                        z-index: 999;
                        background-color: rgb(255, 255, 255);
                        box-shadow: 0px 4px 10px rgba(166, 168, 173, 0.09);
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;
                        .row{
                            display: flex;
                            .menu_items{
                                margin-top: 14px;
                                h1{
                                    font-family: Avenir Next;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 15px;
                                    line-height: 20px;
                                    text-transform: uppercase;
                                    color: #101010;
                                }
                                h2{
                                    margin-top: 13px;
                                    font-family: Avenir Next;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 13px;
                                    line-height: 18px;
                                    text-transform: uppercase;
                                    color: #101010;
                                }
                                img:hover{
                                    border: 1px solid rgb(156, 156, 156);
                                }
                                a{
                                    margin-top: 8px;
                                    display: block;
                                    font-family: Avenir Next;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 15px;
                                    line-height: 20px;
                                    color: #101010;
                                    border-bottom: 0;
                                }
                                a:hover{
                                    color: rgb(156, 156, 156);
                                }
                                img{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .nav_item:hover .menu{
                    pointer-events: auto;
                    opacity: 1;
                }
            }
        }
    }
    footer{
        .subcribe{
            background-color: #101010;
            .container{
                padding: 20px 0;
                .row{
                    margin: auto 0;
                    .subcribe_title{
                        margin: auto 0;
                        text-align: center;
                        color: #FFFFFF;
                        a{
                            font-family: Avenir Next;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 25px;
                            letter-spacing: 0.03em;
                            color: #FFFFFF;
                        }
                    }
                    .subcribe_input{
                        display: flex;
                        input{
                            height: 40px;
                            width: 75%;
                            border-width: 0;
                            border-style: none;
                            padding: 0 10px;
                            outline: none;
                        }
                        button{
                            width: 25%;
                            height: 40px;
                            outline: none;
                            border: none;
                            font-family: Avenir Next;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 15px;
                            line-height: 20px;
                            text-align: center;
                            letter-spacing: 0.03em;
                            text-transform: uppercase;
                            color: #FFFFFF;
                            background: #3F3F3F;
                        }
                        button:hover{
                            background-color: rgb(150, 150, 150);
                        }
                    }
                }
            }
        }
        .about{
            margin: 67px auto 0 auto;
            width: 80%;
            ul{
                list-style: none;
                padding: 0;
            }
            h1{
                font-family: Avenir Next;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            a{
                font-family: Avenir Next;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 28px;
                letter-spacing: 0.1em;
                color: #2A2A2A;
            }
        }
        .copyright{
            margin-top: 72px;
            background: #F3F3F3;
            text-align: center;
            height: 60px;
            div{
                padding: 20px;
                font-family: Avenir Next;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.1em;
                color: #5F5F5F;
            }
        }
    }
}