
@media screen and (max-width: 1199.98px){
    footer{
        .subcribe{
            .container{
                .row{
                    .subcribe_title{
                        text-align: center !important;
                    }
                }
            }
        }
    }
    header{
        .top{
            display: block !important;
            text-align: center;
            height: 89px;
            h1 {
                margin: auto auto;
            }
            .topItems{
                position: relative !important;
                right: 0 !important;
                top: 25% !important;
                ul{
                    justify-content: center;
                }
            }
        }
        .nav{
            .row{
                .nav_item{
                    .menu{
                        width: 400% !important;
                        left: -50%;
                    }
                }
            }
        }
    }
    .top_banner{
        .top_banner_content{
            display: none;
        }
    }
}

@media screen and (max-width: 1440px) {
    header{
        .nav{
            .row{
                .nav_item{
                    .menu{
                        width: 500% !important;
                        left: -50%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 991.98px) {
    header{
        .nav{
            .row{
                .nav_item{
                    .menu{
                        width: 200% !important;
                        left: -50%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767.98px) {
    header{
        .nav{
            .row{
                .nav_item{
                    .menu{
                        width: 200% !important;
                        left: -50%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 575.98px) {
    header{
        .top {
            h1 {
                margin: 0 10px !important;
                width: 100%;
            }
            .topItems{
                width: 100% !important;
                top: 500px;
                right: 0;
                transform: translateY(0);
            }
        }
        .nav{
            .row{
                .nav_item{
                    .menu{
                        width: 100% !important;
                    }
                }
            }
        }
    }
}
body{
    line-height: normal;;
    box-sizing: border-box;
    height: 100%;
    img{
        width: 100%;
    }
    .container-fluid{
        padding-right: 0;
        padding-left: 0;
    }
    header{
        padding-bottom: 24px;
        box-shadow: 0px 4px 10px rgba(166, 168, 173, 0.09);
        z-index: 1000;
        width: 100%;
        background-color: #FFFFFF;
        .top{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            text-align: center;
            height: 89px;
            h1 {
                margin: auto auto;
            }
            .topItems{
                position: absolute;
                right: 154px;
                top: 50%;
                transform: translateY(-60%);
                ul{
                    list-style: none;
                    margin: auto 0 auto 0;
                    display: flex;
                    padding: 0;
                    li{
                        padding: 0 10px 0 10px;
                    }
                }
            }
        }
        .nav{
            justify-content: center;
            .row{
                .nav_item{
                    position: relative;
                    text-align: center;
                    a{
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        color: #101010;
                        
                    }
                    a:hover{
                        text-decoration: none;
                        border-bottom: 2px solid black;
                    }
                    
                    .menu{
                        pointer-events: none;
                        opacity: 0;
                        transition: 0.5s;
                        width: 800%;
                        text-align: left;
                        padding: 22px 50px;
                        z-index: 999;
                        background-color: rgb(255, 255, 255);
                        box-shadow: 0px 4px 10px rgba(166, 168, 173, 0.09);
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;
                        .row{
                            display: flex;
                            .menu_items{
                                margin-top: 14px;
                                h1{
                                    font-family: Avenir Next;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 15px;
                                    line-height: 20px;
                                    text-transform: uppercase;
                                    color: #101010;
                                }
                                h2{
                                    margin-top: 13px;
                                    font-family: Avenir Next;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 13px;
                                    line-height: 18px;
                                    text-transform: uppercase;
                                    color: #101010;
                                }
                                img:hover{
                                    border: 1px solid rgb(156, 156, 156);
                                }
                                a{
                                    margin-top: 8px;
                                    display: block;
                                    font-family: Avenir Next;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 15px;
                                    line-height: 20px;
                                    color: #101010;
                                    border-bottom: 0;
                                }
                                a:hover{
                                    color: rgb(156, 156, 156);
                                }
                                img{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .nav_item:hover .menu{
                    pointer-events: auto;
                    opacity: 1;
                }
            }
        }
    }
    .top_banner{
        max-width: 1920px;
        padding: 0;
        .top_banner_content{
            position: absolute;
            padding: 5% 20%;
            h1{
                font-family: Avenir Next;
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 55px;
                color: #101010;
            }
            p{
                margin-top: 18px;
                width: 464px;
                height: 110px;
                font-family: Avenir Next;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 27px;
                color: #5D5D5D;
            }
            button{
                margin-top: 30px;
                font-family: Avenir Next;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #FFFFFF;
                border: none;
                outline: none;
                width: 171px;
                height: 50px;
                background: #101010;
            }
            button:hover{
                background-color: #FFFFFF;
                border: 2px solid black;
                color: black;
            }
        }
    }
    .bottom_banner{
        margin-top: 63px;
    }
    .breadcumb{
        ul{
            padding: 10px 16px;
            list-style: none;
            li{
                display: inline;
                color: #7A7A7A;
                a{
                    color: black;
                }
                a:hover{
                    color: #01447e;
                    text-decoration: underline;
                }
            }
            li+li:before{
                padding: 8px;
                color: black;
                content: "/\00a0";
            }
        } 
    }
    .flash_sale{
        .flash_sale_content{
            .row{
                .flashsale_title{
                    h1{
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px !important;
                        line-height: 33px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        color: #000000;
                    }
                }
                .time_countdown{
                    margin: auto 0 auto auto;
                    .time_countdown_content{
                        display: flex;
                        justify-content: flex-end;
                        p{
                            padding-right: 11px;
                            margin: auto 0;
                            font-family: Avenir Next;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 25px;
                            letter-spacing: 0.05em;
                            color: #101010;
                        }
                        h2{
                            padding: 2px;
                            text-align: center;
                            margin: 0 2.5px;
                            border-radius: 4px; 
                            width: 30px; 
                            height: 34px;
                            background-color: black;
                            font-family: Bai Jamjuree;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 30px;
                            letter-spacing: 0.1em;
                            color: #FFFFFF;
                        }
                        span{
                            padding: 2px 4px;
                            font-family: Bai Jamjuree;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 30px;
                            text-align: center;
                            letter-spacing: 0.1em;
                            color: #000000;
                        }
                    }
                }
            }
        }
        .row{
            text-align: left;
            margin: 0 auto 0 auto;
            .item_product_list{
                margin-top: 37px;
                .product_photo{
                    position: relative;
                    .big_sale_label{
                        top: 0;
                        right: 0;
                        text-align: center;
                        padding: 9px;
                        width: 30%;
                        height: 36px;
                        background-image: url('Images/big_sale_label.png');
                        position: absolute;
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 19px;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;
                    }
                    .sale_label{
                        top: 0;
                        right: 0;
                        text-align: center;
                        padding: 9px;
                        width: 30%;
                        height: 36px;
                        background-image: url('Images/sale_tag.png');
                        position: absolute;
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 19px;
                        letter-spacing: 0.05em;
                        color: #FFFFFF;
                    }
                }
                .product_title {
                    margin-top: 17px;
                    a{
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: 0.05em;
                        color: #101010;
                        text-decoration: none;
                    }
                    .sale_price{
                        display: flex;
                        p{
                            margin: 8px 0 0 0;
                            font-family: Avenir Next;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            letter-spacing: 0.1em;
                            color: #F64E4E;
                        }
                        span{
                            margin: auto 0 0 14px;
                            font-family: Avenir Next;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 19px;
                            letter-spacing: 0.1em;
                            color: #7A7A7A;
                        }
                    }
                    .progress_bar{
                        position: relative;
                        margin-top: 12px;
                        width: 100%;
                        height: 6px;
                        background-color: #EDEDED;
                        .sale_progress_bar{
                            position: absolute;
                            height: 6px;
                            background: #101010;
                        }
                        .sale_progress_bar_full{
                            position: absolute;
                            height: 6px;
                            background: #F64E4E;
                        }
                    }
                    p{
                        margin-top: 8px;
                        font-family: Avenir Next;
                        font-style: italic;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 19px;
                        letter-spacing: 0.05em;
                        color: #5E5E5E;
                    }
                }
                .product_photo {
                    overflow: hidden;
                }
                .product_photo:hover img{
                        transform: scale(1.3);
                }
            }
        }
    }
    .products{
        h1{
            margin-top: 54px;
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 33px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #000000;
        }
        .row{
            text-align: left;
            margin: 0 auto 0 auto;
            .item_product_list{
                margin-top: 37px;
                .product_title {
                    margin-top: 17px;
                    a{
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: 0.05em;
                        color: #101010;
                        text-decoration: none;
                    }
                    h1{
                        margin-top: 8px;
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: 0.1em;
                        color: #101010;
                    }
                }
                .product_photo {
                    overflow: hidden;
                }
                .product_photo:hover img{
                        transform: scale(1.3);
                }
                .more_button{
                    background-color: #F8F8F8;
                    a{
                        position: relative;
                        img{
                            transition: 0.5s;
                            opacity: 0;
                        }
                        span{
                            text-align: center;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            position: absolute;
                            font-family: Avenir Next;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 22px;
                            letter-spacing: 0.05em;
                            color: #5D5D5D;
                        }
                    }
                    a:hover img{
                        opacity: 1;
                    }
                    :hover span{
                        background: rgba(255, 255, 255, 0.2);
                        backdrop-filter: blur(4px);
                        padding: 4% 7%;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    .bottom_banner{
        max-width: 1920px;
        padding: 0;
        margin-top: 63px;
    }
    footer{
        .subcribe{
            background-color: #101010;
            .container{
                padding: 20px 0;
                .row{
                    margin: auto 0;
                    .subcribe_title{
                        margin: auto 0;
                        text-align: center;
                        color: #FFFFFF;
                        a{
                            font-family: Avenir Next;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 25px;
                            letter-spacing: 0.03em;
                            color: #FFFFFF;
                        }
                    }
                    .subcribe_input{
                        display: flex;
                        input{
                            height: 40px;
                            width: 75%;
                            border-width: 0;
                            border-style: none;
                            padding: 0 10px;
                            outline: none;
                        }
                        button{
                            width: 25%;
                            height: 40px;
                            outline: none;
                            border: none;
                            font-family: Avenir Next;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 15px;
                            line-height: 20px;
                            text-align: center;
                            letter-spacing: 0.03em;
                            text-transform: uppercase;
                            color: #FFFFFF;
                            background: #3F3F3F;
                        }
                        button:hover{
                            background-color: rgb(150, 150, 150);
                        }
                    }
                }
            }
        }
        .about{
            margin: 67px auto 0 auto;
            width: 80%;
            ul{
                list-style: none;
                padding: 0;
            }
            h1{
                font-family: Avenir Next;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            a{
                font-family: Avenir Next;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 28px;
                letter-spacing: 0.1em;
                color: #2A2A2A;
            }
        }
        .copyright{
            margin-top: 72px;
            background: #F3F3F3;
            text-align: center;
            height: 60px;
            div{
                padding: 20px;
                font-family: Avenir Next;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.1em;
                color: #5F5F5F;
            }
        }
    }
}