@media screen and (max-width: 1200px){
    header{
        .nav{
            .row{
                .nav_item{
                    .menu{
                        width: 400% !important;
                        left: -50%;
                    }
                }
            }
        }
    }
    footer{
        .subcribe{
            .container{
                .row{
                    .subcribe_title{
                        text-align: center !important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    header{
        .nav{
            .row{
                .nav_item{
                    .menu{
                        width: 500% !important;
                        left: -50%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    header{
        .nav{
            .row{
                .nav_item{
                    .menu{
                        width: 200% !important;
                        left: -50%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    header{
        .nav{
            .row{
                .nav_item{
                    .menu{
                        width: 100% !important;
                    }
                }
            }
        }
    }
    .product_detail{
        .row{
            .image_detail{
                justify-content: center;
                display: flex;
                flex-wrap: wrap;
                img{
                    width: 20% !important;
                    margin: 0 0 0 10px ;
                    margin-top: 0 !important;
                }
                .col-lg-1, .col-md-1, .col-sm-1, .col-xs-1{
                    padding: 0 !important;
                }
            }
            .zoom_image{
                margin-top: 10px;
            }
        }
    }
    .specifications_detail{
        margin-top: 20px;
    }
}
#product_hover:hover #menu{
    display: block !important;
}
body{
    line-height: normal;;
    box-sizing: border-box;
    height: 100%;
    img{
        width: 100%;
    }
    .container-fluid{
        padding-right: 0;
        padding-left: 0;
    }
    header{
        padding-bottom: 24px;
        box-shadow: 0px 4px 10px rgba(166, 168, 173, 0.09);
        z-index: 1000;
        width: 100%;
        background-color: #FFFFFF;
        .top{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            text-align: center;
            height: 89px;
            h1 {
                margin: auto auto;
            }
            .topItems{
                position: absolute;
                right: 154px;
                top: 50%;
                transform: translateY(-60%);
                ul{
                    list-style: none;
                    margin: auto 0 auto 0;
                    display: flex;
                    padding: 0;
                    li{
                        padding: 0 10px 0 10px;
                    }
                }
            }
        }
        .nav{
            justify-content: center;
            .row{
                .nav_item{
                    position: relative;
                    text-align: center;
                    a{
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        color: #101010;
                        
                    }
                    a:hover{
                        text-decoration: none;
                        border-bottom: 2px solid black;
                    }
                    
                    .menu{
                        pointer-events: none;
                        opacity: 0;
                        transition: 0.5s;
                        width: 800%;
                        text-align: left;
                        padding: 22px 50px;
                        z-index: 999;
                        background-color: rgb(255, 255, 255);
                        box-shadow: 0px 4px 10px rgba(166, 168, 173, 0.09);
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;
                        .row{
                            display: flex;
                            .menu_items{
                                margin-top: 14px;
                                h1{
                                    font-family: Avenir Next;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 15px;
                                    line-height: 20px;
                                    text-transform: uppercase;
                                    color: #101010;
                                }
                                h2{
                                    margin-top: 13px;
                                    font-family: Avenir Next;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 13px;
                                    line-height: 18px;
                                    text-transform: uppercase;
                                    color: #101010;
                                }
                                img:hover{
                                    border: 1px solid rgb(156, 156, 156);
                                }
                                a{
                                    margin-top: 8px;
                                    display: block;
                                    font-family: Avenir Next;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 15px;
                                    line-height: 20px;
                                    color: #101010;
                                    border-bottom: 0;
                                }
                                a:hover{
                                    color: rgb(156, 156, 156);
                                }
                                img{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .nav_item:hover .menu{
                    pointer-events: auto;
                    opacity: 1;
                }
            }
        }
    }
    .breadcumb{
        ul{
            padding: 10px 16px;
            list-style: none;
            li{
                display: inline;
                color: #7A7A7A;
                a{
                    color: black;
                }
                a:hover{
                    color: #01447e;
                    text-decoration: underline;
                }
            }
            li+li:before{
                padding: 8px;
                color: black;
                content: "/\00a0";
            }
        } 
    }
    .product_detail{
        .row{
            .image_detail{
                img{    
                    cursor: pointer;
                    height: auto;
                    width: 100%;
                    margin-top: 10px;
                }
            }
            .specifications_detail{
                height: 100%;
                .title_content{
                    border-bottom: 0.5px solid #EDEDED;
                    .product_title{
                        display: flex;
                        h1{
                            font-family: Avenir Next;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            color: #101010;   
                        }
                        .tag{
                            margin-left: 32px;
                            text-align: center;
                            padding-top: 4px;
                            width: 20%;
                            background-color: #F64E4E;
                            font-family: Avenir Next;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 19px;
                            color: #FFFFFF;
                        }
                    }
                    p{
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 19px;
                        color: #7A7A7A;
                    }
                    h2{
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        color: #101010;
                    }
                }
                .color_content{
                    margin-top: 14px;
                    padding-bottom: 14px;
                    border-bottom: 0.5px solid #EDEDED;
                    p{
                        margin-top: 14px;
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        color: #000000;
                    }
                    button{
                        margin: 0 7px 0 7px;
                        width: 25px;
                        height: 25px;
                        border: 1px;
                        border-radius: 50%;
                        border: 1px solid #b1b1b1;
                        outline: none;
                    }
                    
                    button:hover {
                        border: 1px solid #000000;
                    }
                }
                .size_ccontent{
                    .size{
                        p{
                            margin-top: 14px;
                            font-family: Avenir Next;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            color: #000000;
                        }
                        button{
                            width: 40px;
                            height: 40px;
                            background: #F8F8F8;
                            border: 0.5px solid #444444;
                            box-sizing: border-box;
                            outline: none;
                        }
                        button:hover {
                            background-color: #EDEDED;
                        }
                    }
                    .instruct{
                        margin-top: 10px;
                        a{
                            text-decoration: none;
                            font-family: Avenir Next;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 13px;
                            color: #0684E0;
                        }
                        a:hover{
                            color: #00375e;
                        }
                    }
                }
                .add_to_cart{
                    margin-top: 14px;
                    .btn{
                        padding: 0;
                        .btn_add{
                            width: 281px;
                            height: 56px;
                            border: none;
                            background: #101010;
                            font-family: Avenir Next;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            text-align: center;
                            letter-spacing: 0.1em;
                            text-transform: uppercase;
                            color: #FFFFFF;
                            outline: none;
                        }
                        .btn_add:hover {
                            background-color: #9e9e9e;
                        }
                    }
                }
                .delivery_border{
                    margin-top: 26px;
                    background: #F7F8FA;
                    padding: 20px 30px;
                    .delivery{
                        .row_1{
                            display: flex;
                            .col_2{
                                margin-left: 20px;
                                h1{
                                    font-family: Avenir Next;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 16px;
                                    color: #000000;
                                }
                                p{
                                    font-family: Avenir Next;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 13px;
                                    line-height: 18px;
                                    color: #5D5D5D;
                                }
                            }
                        }
                        .row_2{
                            display: flex;
                            .col_2{
                                margin-left: 20px;
                                h1{
                                    font-family: Avenir Next;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 16px;
                                    color: #000000;
                                }
                                a{
                                    font-family: Avenir Next;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 13px;
                                    color: #5D5D5D;
                                }
                            }
                        }
                    }
                }
                .product_infomation{
                    margin-top: 12px;
                    display: flex;
                    p{
                        margin: 0;
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 25px;
                        color: #101010;
                    }
                    i{
                        margin: auto 0 auto 9px;
                    }
                }
            }
        }
    }
    
    .reccomend_products{
        margin-top: 66px;
        text-align: center;
        h1{
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 33px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #101010;
        }
        .row{
            text-align: left;
            margin: 0 auto 0 auto;
            .item_product_list{
                margin-top: 37px;
                .product_title {
                    margin-top: 17px;
                    a{
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: 0.05em;
                        color: #101010;
                        text-decoration: none;
                    }
                    p{
                        margin: 8px 0 0 0;
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: 0.1em;
                        color: #101010;
                    }
                }
                .product_photo {
                    overflow: hidden;
                }
                .product_photo:hover img{
                        transform: scale(1.3);
                }
            }
        }
    }
    .bottom_banner{
        max-width: 1920px;
        padding: 0;
        margin-top: 63px;
    }
    footer{
        .subcribe{
            background-color: #101010;
            .container{
                padding: 20px 0;
                .row{
                    margin: auto 0;
                    .subcribe_title{
                        margin: auto 0;
                        text-align: center;
                        color: #FFFFFF;
                        a{
                            font-family: Avenir Next;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 25px;
                            letter-spacing: 0.03em;
                            color: #FFFFFF;
                        }
                    }
                    .subcribe_input{
                        display: flex;
                        input{
                            height: 40px;
                            width: 75%;
                            border-width: 0;
                            border-style: none;
                            padding: 0 10px;
                            outline: none;
                        }
                        button{
                            width: 25%;
                            height: 40px;
                            outline: none;
                            border: none;
                            font-family: Avenir Next;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 15px;
                            line-height: 20px;
                            text-align: center;
                            letter-spacing: 0.03em;
                            text-transform: uppercase;
                            color: #FFFFFF;
                            background: #3F3F3F;
                        }
                        button:hover{
                            background-color: rgb(150, 150, 150);
                        }
                    }
                }
            }
        }
        .about{
            margin: 67px auto 0 auto;
            width: 80%;
            ul{
                list-style: none;
                padding: 0;
            }
            h1{
                font-family: Avenir Next;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            a{
                font-family: Avenir Next;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 28px;
                letter-spacing: 0.1em;
                color: #2A2A2A;
            }
        }
        .copyright{
            margin-top: 72px;
            background: #F3F3F3;
            text-align: center;
            height: 60px;
            div{
                padding: 20px;
                font-family: Avenir Next;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.1em;
                color: #5F5F5F;
            }
        }
    }
}