@media screen and (max-width: 600px) {
    .top {
        h1 {
            width: 100%;
        }
        .topItems{
            width: 100% !important;
            background-color: aqua;
            top: 500px;
            right: 0;
            transform: translateY(0);
        }
    }
}

body{
    box-sizing: border-box;
    img{
        width: 100%;
    }
    .container-fluid{
        padding-right: 0;
        padding-left: 0;
    }
    header{
        padding-bottom: 24px;
        box-shadow: 0px 4px 10px rgba(166, 168, 173, 0.09);
        z-index: 1000;
        position: fixed;
        width: 100%;
        background-color: #FFFFFF;
        .top{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            text-align: center;
            h1 {
                margin: 0 auto;
            }
            .topItems{
                position: absolute;
                right: 154px;
                top: 50%;
                transform: translateY(-60%);
                ul{
                    list-style: none;
                    margin: auto 0 auto 0;
                    display: flex;
                    padding: 0;
                    li{
                        padding: 0 10px 0 10px;
                    }
                }
            }
        }
        .nav{
            justify-content: center;
            .row{
                .nav_item{
                    text-align: center;
                    a{
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        color: #101010;
                    }
                    a:hover .menu{
                        z-index: 9999999999;
                        display: block !important;
                    }
                }
            }
        }
        .menu{
            
    position: absolute;
            display: none;
            .row{
                margin-top: 22px;
                display: flex;
                .menu_items{
                    margin-top: 14px;
                    h1{
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 20px;
                        text-transform: uppercase;
                        color: #101010;
                    }
                    h2{
                        margin-top: 13px;
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 18px;
                        text-transform: uppercase;
                        color: #101010;
                    }
                    a{
                        margin-top: 8px;
                        display: block;
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 20px;
                        color: #101010;
                    }
                    img{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    
    .product_detail{
        padding-top: 96px;
        .image_detail{
            .row{
                .image_list{
                    img{    
                        cursor: pointer;
                        height: auto;
                        width: 100%;
                        margin-top: 10px;
                    }
                }
            }

        }
        .breadcumb{
            ul{
                padding: 10px 16px;
                list-style: none;
                li{
                    display: inline;
                    color: #7A7A7A;
                    a{
                        color: black;
                    }
                    a:hover{
                        color: #01447e;
                        text-decoration: underline;
                    }
                }
                li+li:before{
                    padding: 8px;
                    color: black;
                    content: "/\00a0";
                }
            } 

        }
    }
    footer{
        .subcribe{
            background-color: #101010;
            height: 80px;
            .row{
                margin: 0;
                .subcribe_title{
                    padding-right: 41px;
                    text-align: center;
                    color: #FFFFFF;
                    a{
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 25px;
                        letter-spacing: 0.03em;
                        color: #FFFFFF;
                    }
                }
                .subcribe_input{
                    text-align: center;
                    input{
                        height: 40px;
                    }
                    button{
                        height: 40px;
                        border: none;
                        font-family: Avenir Next;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 20px;
                        text-align: center;
                        letter-spacing: 0.03em;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        background: #3F3F3F;
                    }
                }
            }
        }
        .about{
            margin: 67px auto 0 auto;
            width: 80%;
            ul{
                list-style: none;
                padding: 0;
            }
            h1{
                font-family: Avenir Next;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            a{
                font-family: Avenir Next;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 28px;
                letter-spacing: 0.1em;
                color: #2A2A2A;
            }
        }
        .copyright{
            margin-top: 72px;
            background: #F3F3F3;
            text-align: center;
            height: 60px;
            div{
                padding: 20px;
                font-family: Avenir Next;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.1em;
                color: #5F5F5F;
            }
        }
    }
}